BasedOnStyle: WebKit

# Indentation
ContinuationIndentWidth: 8
IndentCaseLabels: true
IndentPPDirectives: None
IndentWidth: 4
TabWidth: 4
UseTab: Never
TypenameMacros:
  - HAP_ENUM_BEGIN
  - HAP_ENUM_END

AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: true
AlignEscapedNewlines: DontAlign
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BinPackParameters: false
BinPackArguments: false
ColumnLimit: 120
IndentWrappedFunctionNames: true
MaxEmptyLinesToKeep: 1
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: false
PointerAlignment: Left
SortIncludes: false
SpaceAfterCStyleCast: true
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: false
